html {
  font-size: 10px;
}
body {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
.container-fluid {
  margin: 0;
  padding: 0;
}
#head {
  height: 100vh;
}
#aboutAzart {
  height: 60vh;
  background-color: #f9bac5;
}
#aboutCurse {
  height: 60vh;
  background-color: #eeeeee;
}
.photo {
  background-image: url(../img/MacBook\ Pro\ 2.1_macbookpro15_front.jpg);
  width: 50%;
  height: 60vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: absolute;
  right: 0;
}
#advantages {
  height: 75vh;
  background-color: #ffffff;
}
#photoGalery {
  height: 75vh;
  background-color: #eeeeee;
}
#mesage {
  height: 75vh;
  background-color: #ffffff;
}
#contacts {
  height: 75vh;
  background-color: #131418;
}
#map {
  height: 30vh;
  background-color: #eeeeee;
}
.wrap-nav {
  width: 100%;
  height: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nav {
  width: 80%;
  height: 5rem;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nav-logo {
  width: 4rem;
  height: 4rem;
}
.nav-btnContact {
  width: 15rem;
  height: 4rem;
  background-color: transparent;
  border: 1px solid #131418;
  border-radius: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nav-btnContact:hover {
  cursor: pointer;
}
