html {
  font-size: 10px;
}
body {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
.container-fluid {
  margin: 0;
  padding: 0;
}
.head-title {
  font-family: 'Arimo', sans-serif;
  font-size: 3rem;
}
.body-title {
  font-family: 'Arimo', sans-serif;
  font-size: 3rem;
  color: #131418;
}
.body-title-contacts {
  font-family: 'Arimo', sans-serif;
  font-size: 3rem;
  color: #ffffff;
}
.icons-title {
  font-family: 'Arimo', sans-serif;
  font-size: 2.5rem;
  color: #131418;
}
.body-text {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.8rem;
  color: #131418;
}
.contact-text {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6rem;
  color: #f9bac5;
}
.contact-text-link {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6rem;
  text-decoration: none;
  color: #f9bac5;
}
.contact-text-link:hover {
  color: #eeeeee;
  text-decoration: underline ;
}
.btnHead {
  width: 25rem;
  height: 5rem;
  border: none;
  border-radius: 5rem;
  background-color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.btnHead:hover {
  cursor: pointer;
  background-color: #ffffff;
  width: 30rem;
}
.btnHead:focus {
  outline: none;
}
.btnBody {
  width: 25rem;
  height: 5rem;
  border: none;
  border-radius: 5rem;
  background-color: #131418;
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.btnBody:hover {
  cursor: pointer;
  width: 30rem;
}
.btnBody:focus {
  outline: none;
}
.btnBodyCourse {
  width: 25rem;
  height: 5rem;
  border: none;
  border-radius: 5rem;
  background-color: #131418;
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.btnBodyCourse:hover {
  cursor: pointer;
  width: 30rem;
}
.btnBodyCourse:focus {
  outline: none;
}
.azart-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 25rem;
  height: 5rem;
  border: none;
  border-radius: 5rem;
  background-color: #131418;
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.azart-btn:hover {
  cursor: pointer;
  width: 30rem;
  color: #ffffff;
  text-decoration: none;
}
.azart-btn:focus {
  outline: none;
  color: #ffffff;
  text-decoration: none;
}
.btnContact {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  color: #ffffff;
}
#head {
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}
#aboutAzart {
  height: 60vh;
  background-color: #f9bac5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
#aboutCourse {
  height: 70vh;
  background-color: #eeeeee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
#advantages {
  height: 75vh;
  background-color: #ffffff;
}
#photogalery {
  height: 85vh;
  background-color: #eeeeee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#contacts {
  height: 65vh;
  background-color: #131418;
}
#map {
  height: 30rem;
  background-color: #eeeeee;
}
.wrap-nav {
  width: 100%;
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nav {
  width: 85%;
  height: 5rem;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nav-logo {
  width: 4rem;
  height: 4rem;
}
.nav-btnContact {
  width: 15rem;
  height: 4rem;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  color: #ffffff;
}
.nav-btnContact:hover {
  cursor: pointer;
  color: #ffffff;
}
.wrap-head {
  margin-top: 20rem;
  width: 100%;
  height: 30vh;
}
.head-content {
  margin: auto;
  width: 85%;
  height: 40vh;
}
.head-content-title {
  width: 100%;
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.head-content-text {
  width: 100%;
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.head-content-button {
  width: 100%;
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.hand {
  width: 50%;
  height: 60vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.hand-img {
  width: 42%;
  height: 45vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.azart {
  width: 50%;
  height: 60vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.azart-content {
  margin-right: 20%;
  width: 80%;
  height: 45vh;
}
.azart-content-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 10vh;
}
.azart-content-text {
  width: 100%;
  height: 25vh;
}
.azart-content-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 10vh;
}
.course {
  width: 50%;
  height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.course-content {
  width: 85%;
  height: 50vh;
  margin-left: 15%;
}
.course-content-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 10vh;
}
.course-content-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  height: 30vh;
}
.course-content-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 10vh;
}
.photo {
  width: 50%;
  height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: absolute;
  right: 0;
}
.photo-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 100%;
  height: 85%;
}
.advantages-title {
  margin-top: 10rem;
  width: 100%;
  height: 5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.wrap-icons {
  width: 100%;
  height: 35vh;
  margin-top: 10rem;
}
.icon-size {
  width: 10rem;
  margin-left: 4rem;
}
.icons {
  margin: auto;
  width: 85%;
  height: 35vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.icons-card {
  width: 25%;
  height: 35vh;
}
.icons-card-img {
  width: 100%;
  height: 15vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.icons-card-title {
  width: 100%;
  height: 5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.icons-card-text {
  text-align: center;
  width: 100%;
  height: 10vh;
  margin-top: 2.5rem;
}
.wrap-galery {
  width: 85%;
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.paper {
  width: 30%;
  height: 100%;
}
.paper-content {
  width: 100%;
  height: 65vh;
}
.paper-content-img {
  width: 100%;
  height: 35vh;
}
.paper-content-text {
  width: 100%;
  height: 20vh;
}
.paper-content-btn {
  width: 100%;
  height: 10vh;
}
.slider {
  width: 70%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.fotorama {
  width: 85%;
}
.contacts-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 20vh;
}
.contact {
  margin: auto;
  width: 40%;
  height: 30vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.contact-colomn {
  width: 50%;
  height: 30vh;
}
.contact-colomn-items {
  width: 80%;
  height: 6vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.item-icon {
  width: 15%;
  height: 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.item-text {
  margin-left: 2rem;
  margin-top: 0.7rem;
  width: 85%;
  height: 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.item-img {
  width: 2.5rem;
}
.close {
  font-size: 3rem;
}
.close:focus {
  outline: none;
}
.modal-dialog {
  margin-top: 10rem;
  border: none;
}
.modal-body {
  font-size: 1.4rem;
  padding: 2rem;
}
.modal-header {
  padding: 2rem;
}
.modal-footer {
  font-size: 2rem;
  padding: 5rem;
}
.modal-title {
  font-size: 2rem;
}
.wrap-form {
  width: 90%;
}
.form-group {
  margin-top: 2rem;
  width: 100%;
}
.wrap-input {
  width: 100%;
  height: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
form {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
input {
  width: 85%;
  height: 2rem;
  border: none;
  border-bottom: 1px solid #999999;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  font-size: 1.6rem;
  font-family: 'Roboto', sans-serif;
}
input:focus {
  border-color: #ffa726;
  outline: none;
  width: 100%;
}
.wrap-btn {
  margin: auto;
  width: 85%;
  height: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.btn-submit {
  font-size: 1.8rem;
  width: 35%;
  height: 5rem;
  border: none;
  border-radius: 100rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  background-color: #131418;
}
.btn-submit:hover {
  width: 100%;
  cursor: pointer;
  background-color: #131418;
  color: #131418;
}
.btn-submit:focus {
  outline: none;
}
