body {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
#head {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#aboutAzart {
  height: 60vh;
  background-color: #f9bac5;
}
#aboutCurse {
  height: 60vh;
  background-color: #eeeeee;
}
.photo {
  background-image: url(../img/MacBook\ Pro\ 2.1_macbookpro15_front.jpg);
  width: 50%;
  height: 60vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: absolute;
  right: 0;
}
#advantages {
  height: 75vh;
  background-color: #ffffff;
}
#photoGalery {
  height: 75vh;
  background-color: #eeeeee;
}
#mesage {
  height: 75vh;
  background-color: #ffffff;
}
#contacts {
  height: 75vh;
  background-color: #131418;
}
#map {
  height: 30vh;
  background-color: #eeeeee;
}
button {
  border: 2px solid #ffffff;
  border-radius: 50px;
  background-color: transparent;
  color: #FFF;
  height: 50px;
  width: 300px;
}
