html {
    font-size: 10px;
}
body {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    &:hover {
        text-decoration: none;
    }
}
.container-fluid {
    margin: 0;
    padding: 0;
}

// ==================================================================
// Colors
@black: #131418;
@white: #FFF;
@light: #EEE;
@pink: #F9BAC5;
@input-focus: #FFA726;

// ==================================================================
// Font/Text 
.head-title {
    font-family: 'Arimo', sans-serif;
    font-size: 3rem;
}
.body-title {
    font-family: 'Arimo', sans-serif;
    font-size: 3rem;
    color: @black;
}
.icons-title {
    font-family: 'Arimo', sans-serif;
    font-size: 2.5rem;
    color: @black;
}
.body-text {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.8rem;
    color: @black;
}

// ==================================================================
// Buttons
.btnHead {
    width: 25rem;
    height: 5rem;
    border: 1px solid @black;
    border-radius: 5rem;
    background-color: transparent;
    &:hover {
        cursor: pointer;
        background-color: @white;
    }
    &:focus {
        outline: none;
    }
}
.buttons {
    color: @black;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
}

// ==================================================================
// Components
#head {
    height: 100vh;
}
#aboutAzart {
    height: 60vh;
    background-color: @pink;
}
#aboutCourse {
    height: 70vh;
    background-color: @light;
    display: flex;
    justify-content: space-between;
}   
#advantages {
    height: 75vh;
    background-color: @white;
}
#photoGalery {
    height: 75vh;
    background-color: @light;
}
#mesage {
    height: 75vh;
    background-color: @white;
}
#contacts {
    height: 75vh;
    background-color: @black;
}
#map {
    height: 30rem;
    background-color: @light;
}

// ==================================================================
// Head
// Nav
.wrap-nav {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav {
    width: 80%;
    height: 5rem;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-logo {
        width: 4rem;
        height: 4rem;
    }
    &-btnContact {
        width: 15rem;
        height: 4rem;
        background-color: transparent;
        border: 1px solid @black;
        border-radius: 4rem;
        display: flex;
        justify-content: center;
        align-items: center;
        &:hover {
            cursor: pointer;
        }
    }

}
// Content Head
.wrap-head {
    margin-top: 20rem;
    width: 100%;
    height: 30vh;
}
.head-content {
    margin: auto;
    width: 80%;
    height: 40vh;
    &-title {
        width: 100%;
        height: 10vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &-text {
        width: 100%;
        height: 10vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &-button {
        width: 100%;
        height: 10vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
// ==================================================================
// About Course
.course {
    width: 50%;
    height: 70vh;
    display: flex;
    align-items: center;
    &-content {
        width: 80%;
        height: 50vh;
        margin-left: 20%;
        &-title {
            width: 100%;
            height: 10vh;
            
        }
        &-text {
            width: 80%;
            height: 30vh;
        }
        &-btn {
            width: 100%;
            height: 10vh;  
        }
    }
}
.photo {
    width: 50%;
    height: 70vh;
    display: flex;
    align-items: flex-end;
    position: absolute;
    right: 0;
    &-img {
        background-image: url(../img/mac-ps.png);
        width: 100%;
        height: 85%;
    }
} 
// ==================================================================
// Advantages
.advantages-title {
    margin-top: 10rem;
    width: 100%;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrap-icons {
    width: 100%;
    height: 35vh;
    margin-top: 10rem;
}
.icon-size {
    width: 10rem;
    margin-left: 4rem;
}
.icons {
    margin: auto;
    width: 80%;
    height: 35vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-card {
        width: 25%;
        height: 35vh;
        background-color: #fff;
        &-img {
            width: 100%;
            height: 15vh;
            display: flex;
            justify-content: center;
            align-items: flex-start;    
        }
        &-title {
            width: 100%;
            height: 5vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &-text {
            text-align: center;
            width: 100%;
            height: 10vh;
            margin-top: 2.5rem;
        }
    }
}

// ==================================================================
// Modal
// Modal
.close:focus {
    outline: none;
}
.modal-dialog {
    margin-top: 10rem;
    border: none;
}
.modal-body {
    display: flex;
    justify-content: center;
    align-items: center;
}

// Form
.wrap-form {
    width: 90%;
}
.form-group {
    margin-top: 2rem;
    width: 100%;
}
.wrap-input {
    width: 100%;
    height: 2rem;
    display: flex;
    justify-content: center;
}
form {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
input {
    width: 85%;
    height: 2rem;
    border: none;
    border-bottom: 1px solid @black;
    transition: all 0.5s;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    &:focus {
        border-color: @input-focus;
        outline: none;
        width: 100%;
    }
}
.wrap-btn {
    margin: auto;
    width: 85%;
    height: 4rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.btn-submit {
    width: 35%;
    height: 3rem;
    border: none;
    border-radius: 100rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
    background-color: @black;
    &:hover {
        width: 100%;
        cursor: pointer;
        background-color: @black;
        color: @black;
    }
    &:focus {
        outline: none;
    }
}
