html {
    font-size: 10px;
    scroll-behavior: smooth;
}
body {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    &:hover {
        text-decoration: none;
    }
}
.container-fluid {
    margin: 0;
    padding: 0;
}


// ==================================================================
// Colors
@black: #131418;
@white: #FFF;
@light: #EEE;
@pink: #F9BAC5;
@input-focus: #FFA726;

// ==================================================================
// Font/Text 
.head-title {
    font-family: 'Arimo', sans-serif;
    font-size: 4rem;
    color: @white;
    letter-spacing: 0.5rem;
}
.head-text {
    font-family: 'Open Sans', sans-serif;
    font-size: 2.5rem;
    font-weight: 400;
    color: @white;
}
.body-title {
    font-family: 'Arimo', sans-serif;
    font-size: 3rem;
    color: @black;
    &-contacts {
        font-family: 'Arimo', sans-serif;
        font-size: 3rem;
        color: @white;
    }
}
.icons-title {
    font-family: 'Arimo', sans-serif;
    font-size: 2.5rem;
    color: @black;
}
.body-text {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.8rem;
    color: @black;
}
.contact-text {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem;
    color: @pink;
    &-link {
        font-family: 'Open Sans', sans-serif;
        font-size: 1.6rem;
        text-decoration: none;
        color: @pink;
        &:hover {
            color: @light;
            text-decoration: underline ;
        }
    }
}
// Mixins
// ==================================================================


// ==================================================================
// Buttons
.btnHead {
    width: 25rem;
    height: 5rem;
    border: none;
    border-radius: 5rem;
    background-color: @white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 1.6rem;
    transition: all 0.4s;
    &:hover {
        cursor: pointer;
        background-color: @white;
        width: 30rem;
    }
    &:focus {
        outline: none;
    }
}
.btnBody {
    width: 25rem;
    height: 5rem;
    border: none;
    border-radius: 5rem;
    background-color: @black;
    color: @white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    transition: all 0.4s;
    &:hover {
        cursor: pointer;
        width: 30rem;
    }
    &:focus {
        outline: none;
    }
}
.btnBodyCourse {
    width: 25rem;
    height: 5rem;
    border: none;
    border-radius: 5rem;
    background-color: @black;
    color: @white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    transition: all 0.4s;
    &:hover {
        cursor: pointer;
        width: 30rem;
    }
    &:focus {
        outline: none;
    }
}
.azart-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25rem;
    height: 5rem;
    border: none;
    border-radius: 5rem;
    background-color: @black;
    color: @white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    transition: all 0.4s;
    &:hover {
        cursor: pointer;
        width: 30rem;
        color: @white;
        text-decoration: none;
    }
    &:focus {
        outline: none;
        color: @white;
        text-decoration: none;
    }
}
.btnContact {
    width: 15rem;
    height: 4rem;
    background-color: transparent;
    border: 2px solid @white;
    border-radius: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    color: @white;
    &:hover {
        cursor: pointer;
        color: @white;
    }
}
 
// ==================================================================
// Components
#head {
    height: 100vh;
    // background-image: url(../img/bg7.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
#aboutAzart {
    height: 60vh;
    background-color: @pink;
    display: flex;
    justify-content: space-between;
}
#aboutCourse {
    height: 70vh;
    background-color: @light;
    display: flex;
    justify-content: space-between;
}   
#advantages {
    height: 50vh;
    background-color: @white;
}
#photogalery {
    height: 85vh;
    background-color: @light;
    display: flex;
    justify-content: center;
    align-items: center;
}
#contacts {
    height: 65vh;
    background-color: @black;
}
#map {
    height: 30rem;
    background-color: @light;
}

// ==================================================================
// Head
.wrap-nav {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2.5rem;
}
.nav {
    width: 85%;
    height: 5rem;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-logo {
        width: 4rem;
        height: 4rem;
    }
}
.wrap-head {
    margin-top: 20rem;
    width: 100%;
    height: 30vh;
}
.head-content {
    margin: auto;
    width: 85%;
    height: 40vh;
    &-title {
        width: 100%;
        height: 10vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &-text {
        width: 100%;
        height: 10vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &-button {
        width: 100%;
        height: 10vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
.down {
    margin-top: 30vh;
    width: 100%;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    &-arow {
        width: 2rem;
    }
}
// ==================================================================
// About Azart 
.hand {
    width: 50%;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    &-img {
        width: 42%;
        height: 45vh;
        display: flex;
        align-items: flex-end;
    }
}
.azart {
    width: 50%;
    height: 60vh;
    display: flex;
    align-items: center;
    &-content {
        margin-right: 20%;
        width: 80%; 
        height: 45vh;
        &-title {
            display: flex;
            align-items: center;
            width: 100%;
            height: 10vh;
        }
        &-text {
            width: 100%;
            height: 25vh;
        }
        &-btn {
            display: flex;
            align-items: center;
            width: 100%;
            height: 10vh;
        }
    }
}


// ==================================================================
// About Course
.course {
    width: 50%;
    height: 70vh;
    display: flex;
    align-items: center;
    &-content {
        width: 85%;
        height: 50vh;
        margin-left: 15%;
        &-title {
            display: flex;
            align-items: center;
            width: 100%;
            height: 10vh;
        }
        &-text {
            display: flex;
            align-items: center;
            width: 80%;
            height: 30vh;
        }
        &-btn {
            display: flex;
            align-items: center;
            width: 100%;
            height: 10vh;  
        }
    }
}
.photo {
    width: 50%;
    height: 70vh;
    display: flex;
    align-items: flex-end;
    position: absolute;
    right: 0;
    &-img {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        width: 100%;
        height: 85%;
    }
}

// ==================================================================
// Advantages
.advantages-title {
    margin-top: 10rem;
    width: 100%;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrap-icons {
    width: 100%;
    height: 35vh;
    margin-top: 10rem;
}
.icon-size {
    width: 10rem;
    margin-left: 4rem;
}
.icons {
    margin: auto;
    width: 85%;
    height: 35vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-card {
        width: 25%;
        height: 35vh;
        &-img {
            width: 100%;
            height: 15vh;
            display: flex;
            justify-content: center;
            align-items: flex-start;    
        }
        &-title {
            width: 100%;
            height: 5vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &-text {
            text-align: center;
            width: 100%;
            height: 10vh;
            margin-top: 2.5rem;
        }
    }
}

// ==================================================================
// Photogalery 
.wrap-galery {
    width: 85%;
    height: 80%;
    display: flex;
    justify-content: space-between;
}
.paper {
    width: 30%;
    height: 100%;
    &-content {
        width: 100%;
        height: 65vh;
        &-img {
            width: 100%;
            height: 35vh;
        }
        &-text {
            width: 100%;
            height: 20vh;
        }
        &-btn {
            width: 100%;
            height: 10vh;
        }
    }
}
.slider {
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}
.fotorama {
    width: 85%;
}
// ==================================================================
// Contacts
.contacts-title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20vh;
}
.contact {
    margin: auto;
    width: 40%;
    height: 30vh;
    display: flex;
    justify-content: space-between;
    &-colomn {
        width: 50%;
        height: 30vh;
        &-items {
            width: 80%;
            height: 6vh;
            display: flex;
            justify-content: space-around;
            align-items: center;
        }
    }
}
.item-icon {
    width: 15%;
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.item-text {
    margin-left: 2rem;
    margin-top: 0.7rem;
    width: 85%;
    height: 6rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.item-img {
    width: 2.5rem;
}

// ==================================================================
// Modal
// Modal
.close {
    font-size: 3rem;
    &:focus {
        outline: none;
    }
}
.modal-dialog {
    margin-top: 10rem;
    border: none;
}
.modal-body {
    font-size: 1.4rem;
    padding: 2rem;
}
.modal-header {
    padding: 2rem;
}
.modal-footer {
    font-size: 2rem;
    padding: 5rem;
}
.modal-title {
    font-size: 2rem;
}

// Form
.wrap-form {
    width: 90%;
}
.form-group {
    margin-top: 2rem;
    width: 100%;
}
.wrap-input {
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: center;
}
form {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
input {
    width: 85%;
    height: 2rem;
    border: none;
    border-bottom: 1px solid #999999;
    transition: all 0.5s;
    font-size: 1.6rem;
    font-family: 'Roboto', sans-serif;
    &:focus {
        border-color: @input-focus;
        outline: none;
        width: 100%;
    }
}
.wrap-btn {
    margin: auto;
    width: 85%;
    height: 5rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.btn-submit {
    font-size: 1.8rem;
    width: 35%;
    height: 5rem;
    border: none;
    border-radius: 100rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
    background-color: @black;
    &:hover {
        width: 100%;
        cursor: pointer;
        background-color: @black;
        color: @black;
    }
    &:focus {
        outline: none;
    }
}

// ==================================================================
// Media
@media screen and (min-width: 1200px) {
    #aboutCourse {
        height: 75vh;
        background-color: @light;
        display: flex;
        justify-content: space-between;
    }   
    #advantages {
        height: 75vh;
        background-color: @white;
    }
    #photogalery {
        height: 85vh;
        background-color: @light;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #contacts {
        height: 65vh;
        background-color: @black;
    }
    #map {
        height: 30rem;
        background-color: @light;
    }
    .course {
        height: 75vh;
        margin-top: 5rem;
        &-content {
            width: 85%;
            height: 50vh;
            margin-left: 15%;
            &-title {
                display: flex;
                align-items: center;
                width: 100%;
                height: 5vh;
            }
            &-text {
                display: flex;
                align-items: center;
                width: 80%;
                height: 30vh;
            }
            &-btn {
                display: flex;
                align-items: center;
                width: 100%;
                height: 5vh;  
            }
        }
    }
    .photo {
        height: 75vh;
    }
}

@media screen and (max-width: 1199px) {
    #aboutCourse {
        height: 75vh;
        background-color: @black;
        display: flex;
        justify-content: space-between;
    }   
    #advantages {
        height: 75vh;
        background-color: @white;
    }
    #photogalery {
        height: 85vh;
        background-color: @light;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #contacts {
        height: 65vh;
        background-color: @black;
    }
    #map {
        height: 30rem;
        background-color: @light;
    }
    .course {
        margin-top: -5rem;
        height: 85vh;
        
        &-content {
            width: 85%;
            height: 70vh;
            margin-left: 15%;
            &-title {
                display: flex;
                align-items: center;
                width: 100%;
                height: 15vh;
            }
            &-text {
                display: flex;
                align-items: center;
                width: 80%;
                height: 40vh;
            }
            &-btn {
                display: flex;
                align-items: center;
                width: 100%;
                height: 15vh;  
            }
        }
    }
    .photo {
        height: 75vh;
    }
}
