body {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}

// Colors
@black: #131418;
@white: #FFF;
@light: #EEE;
@pink: #F9BAC5;

// Components
#head {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#aboutAzart {
    height: 60vh;
    background-color: @pink;
}
#aboutCurse {
    
    height: 60vh;
    background-color: @light;
    
}
.photo {
    background-image: url(../img/MacBook\ Pro\ 2.1_macbookpro15_front.jpg);
    width: 50%;
    height: 60vh;
    display: flex;
    align-items: flex-end;
    position: absolute;
    right: 0;
}    
#advantages {
    height: 75vh;
    background-color: @white;
}
#photoGalery {
    height: 75vh;
    background-color: @light;
}
#mesage {
    height: 75vh;
    background-color: @white;
}
#contacts {
    height: 75vh;
    background-color: @black;
}
#map {
    height: 30vh;
    background-color: @light;
}

button {
    border: 2px solid #ffffff;
    border-radius: 50px;
    background-color: transparent;
    color: #FFF;
    height: 50px;
    width: 300px;
}